<launch>
    <param name="publish_rate" type="int" value="10"/>

    <!-- Launch Gazebo  -->
    <include file="$(find dofbot_movit_config)/launch/gazebo.launch"/>

    <!-- ros_control as arm launch file -->
    <include file="$(find dofbot_movit_config)/launch/arm_gazebo_states.launch"/>

    <!-- ros_control position control dof arm launch file -->
    <include file="$(find dofbot_movit_config)/launch/arm_gazebo_position.launch" />
    <!--node name="arm_joint_pose" pkg="dofbot_movit_config" type="arm_joint_pose.py" output="screen"/>
    <node name="arm_joint_sync" pkg="dofbot_movit_config" type="arm_joint_sync.py" output="screen"/-->

    <!-- cube pose -->
    <!--node name="cube_link_pose" pkg="dofbot_movit_config" type="cube_link_pose.py" output="screen"/>
    <include file="$(find dofbot_movit_config)/launch/moveit_planning_execution.launch"/-->


</launch>
